ACTION=="add", KERNEL=="null", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="zero", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="full", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="ptmx", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="tty", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="random", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="urandom", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="ashmem", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="binder", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="alog/*", OWNER="root", GROUP="log", MODE="0666"
ACTION=="add", KERNEL=="msm_hw3dc", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="kgsl", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="dri/*", OWNER="root", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="diag", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="diag_arm9", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="android_adb", OWNER="adb", GROUP="adb", MODE="0660"
ACTION=="add", KERNEL=="android_adb_enable", OWNER="adb", GROUP="adb", MODE="0660"
ACTION=="add", KERNEL=="ttyMSM0", OWNER="bluetooth", GROUP="bluetooth", MODE="0600"
ACTION=="add", KERNEL=="uhid", OWNER="system", GROUP="net_bt_stack", MODE="0660"
ACTION=="add", KERNEL=="uinput", OWNER="system", GROUP="net_bt_stack", MODE="0660"
ACTION=="add", KERNEL=="alarm", OWNER="system", GROUP="radio", MODE="0664"
ACTION=="add", KERNEL=="tty0", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="graphics/*", OWNER="root", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="msm_hw3dm", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="input/*", OWNER="root", GROUP="input", MODE="0660"
ACTION=="add", KERNEL=="eac", OWNER="root", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="cam", OWNER="root", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="pmem", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="pmem_adsp*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="pmem_camera*", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="oncrpc/*", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="adsp/*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="snd/*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="mt9t013", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="msm_camera/*", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="akm8976_daemon", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="akm8976_aot", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="akm8973_daemon", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="akm8973_aot", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="bma150", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="cm3602", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="akm8976_pffd", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="lightsensor", OWNER="system", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="msm_pcm_out*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_pcm_in*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_pcm_ctl*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_snd*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_mp3*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="audience_a1026*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="tpa2018d1*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_audpre", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_audio_ctl", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="htc-acoustic", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="vdec", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="q6venc", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="snd/dsp", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="snd/dsp1", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="snd/mixer", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="smd0", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="qmi", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="qmi0", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="qmi1", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="qmi2", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="bus/usb/*", OWNER="root", GROUP="usb", MODE="0660"
ACTION=="add", KERNEL=="mtp_usb", OWNER="root", GROUP="mtp", MODE="0660"
ACTION=="add", KERNEL=="usb_accessory", OWNER="root", GROUP="usb", MODE="0660"
ACTION=="add", KERNEL=="tun", OWNER="system", GROUP="vpn", MODE="0660"
ACTION=="add", KERNEL=="ts0710mux*", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="ppp", OWNER="radio", GROUP="vpn", MODE="0660"
ACTION=="add", KERNEL=="cm_channel", OWNER="media", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="cm_control", OWNER="media", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="stm", OWNER="media", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="modemaudio", OWNER="audio", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="db8500-modem-trace", OWNER="system", GROUP="system", MODE="0600"
ACTION=="add", KERNEL=="dbx500_mloader_fw", OWNER="system", GROUP="system", MODE="0600"
ACTION=="add", KERNEL=="rpc", OWNER="radio", GROUP="radio", MODE="0600"
ACTION=="add", KERNEL=="mmio_camera", OWNER="media", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="camera_flash", OWNER="media", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="i2c-2", OWNER="media", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ape_opp", OWNER="media", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ddr_opp", OWNER="media", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="hwmem", OWNER="media", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="mali", OWNER="system", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="b2r2_blt", OWNER="system", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="disp0", OWNER="system", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="comp0", OWNER="system", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="comp1", OWNER="system", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="clone0", OWNER="system", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="ttyGS0", OWNER="root", GROUP="radio", MODE="0060"
ACTION=="add", KERNEL=="shm", OWNER="audio", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="tee", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="pn544", OWNER="nfc", GROUP="nfc", MODE="0600"
ACTION=="add", KERNEL=="mtp", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="input/event10", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="hdmi", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="uinput", OWNER="system", GROUP="bluetooth", MODE="0660"
ACTION=="add", KERNEL=="ttyAMA0", OWNER="bluetooth", GROUP="bluetooth", MODE="0660"
ACTION=="add", KERNEL=="ttyAMA1", OWNER="bluetooth", GROUP="bluetooth", MODE="0660"
ACTION=="add", KERNEL=="ttyAMA2", OWNER="bluetooth", GROUP="bluetooth", MODE="0660"
ACTION=="add", KERNEL=="cg2900_bt_audio", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="cg2900_fm_audio", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="cg2900_hci_logger", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="cg2900_bt_cmd", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="cg2900_bt_evt", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="cg2900_bt_acl", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="cg2900_fm_radio", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="cg2900_core", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="cg2900_core_test", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="cg2900_audio", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="cg2900_debug", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="cg2900_ste_tools", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="cg2900_hci_raw", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="cg2900_nfc", OWNER="nfc", GROUP="nfc", MODE="0777"
ACTION=="add", KERNEL=="cg2900_gnss", OWNER="gps", GROUP="gps", MODE="0660"
ACTION=="add", KERNEL=="radio0", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="rfkill", OWNER="root", GROUP="wifi", MODE="0660"
